.fb_main{
  width: 1440px;
  height: 2700px;
}

.fb_main > .fb_main_box{
  width: 90%;
  margin: 50px auto;
}

.hr_fb_box > .hr_fb_person{
  margin: 20px 50px;
  font-size: 24px;
  line-height: 29px;
}


.hr_fb_box  > .hr_fb_content{
  width: 100%;
  height: 415px;
  margin: 50px 0px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.hr_fb_content  > .fb_content_detail{
  width: 90%;
  height: 375px;
  margin: 20px 20px;
  background: #FFFFFF;
  font-size: 20px;
  line-height: 25px;
}

.student_box > .student_title{
  margin: 20px 50px;
  font-size: 24px;
  line-height: 29px;
}

.student_box  > .student_solution_sumary_box{
  width: 100%;
  height: 415px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

  }

  .student_solution_sumary_box  > .student_solution_sumary_box_detail{
    width: 90%;
    height: 375px;
    margin: 20px 20px;
    background: #FFFFFF;
    font-size: 20px;
    line-height: 25px;
  }

  h4{
    text-align: center;
    margin: 50px 10px 0px;
  }
